# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output directories
/output/

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
